<% provide(:title, "RQM System Login") %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<br />
<br />


<table>
    <tbody>
        <tr>
            <td>
                <a class="link_to_profile" href="<%= omniauth_authorize_path(resource_name, "facebook") %>">
                    <img height="44" width="242" src="<%= asset_path('login_button_facebook')%>">
                </a>
                <a class="link_to_profile" href="<%= omniauth_authorize_path(resource_name, "twitter") %>">
                    <img height="44" width="242" src="<%= asset_path( 'login_button_twitter.png' ) %>" />
                </a>
                <br />
                <a class="link_to_profile" href="<%= omniauth_authorize_path(resource_name, "google_oauth2") %>">
                    <img height="44" width="242" src="<%= asset_path('login_button_google')%>">
                </a>
                <a class="link_to_profile" href="<%= omniauth_authorize_path(resource_name, "github") %>">
                    <img height="44" width="242" src="<%= asset_path('login_button_github.png')%>">
                </a>
            </td>
        </tr>
    </tbody>
</table>
