<div class="navbar-fixed">
    <nav class="header">
        <div class="nav-wrapper">
                
          <a href="#!" class="brand-logo"><img height="90" width="90" src="<%= asset_path('logo')%>"></a>
          
          <a href="#" data-activates="mobile_menu" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
              <li class="nav-items"><%= link_to "Home",    root_path %></li>
              <% unless current_user %> 
              <li class="nav-items"><%= link_to "Sign-up", new_user_registration_path %></li>
              <li class="nav-items"><%= link_to "Login", new_user_session_path %></li>
              <% else %>
              <li class="nav-items"><%= link_to "Control Panel", controls_path  %></li>
              <li class="nav-items"><%= link_to "Profile", profile_path  %></li>
              <li class="nav-items"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% end %>
          </ul>
          <ul class="side-nav" id="mobile_menu">
              <li class="nav-items"><%= link_to "Home",    root_path %></li>
              <% unless current_user %> 
              <li class="nav-items"><%= link_to "Sign-up", new_user_registration_path %></li>
              <li class="nav-items"><%= link_to "Login", new_user_session_path %></li>
              <% else %>
              <li class="nav-items"><%= link_to "Control Panel", controls_path  %></li>
              <li class="nav-items"><%= link_to "Profile", profile_path  %></li>
              <li class="nav-items"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% end %>
          </ul>
        </div>
      </nav>
</div>

